@import "~antd/dist/antd.css";

.Card-image:hover {
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform: scale(1.02);
}

.Action-text {
  color: rgba(0, 0, 0, 0.85);
}

.Play-icon {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.85);
}

.Description {
  height: 70px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  color: gray;
}

.Tag {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.Tag:hover {
  transform: scale(1.1);
}
