@import "~antd/dist/antd.css";

.App-header {
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-title {
  cursor: pointer;
}

.App-logo {
  height: 40px;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Project-text {
  margin: 20px;
}

h1 {
  font-size: 24px;
}

.Examples-Container {
  display: flex;
  justify-content: center;
}
