@import "~antd/dist/antd.css";

.App-header {
  background-color: white;
  display: flex;
  justify-content: center;
}

.App-title {
  cursor: pointer;
}

.App-logo {
  height: 40px;
}

.App-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80vw;
}

.Project-text {
  padding: 20px;
  margin: 20px 0;
  background: white;
  border-radius: 2px;
}

.Project-text a {
  color: #a15ffb;
}

.Project-text h1 {
  font-size: 32px;
}

.Project-text p {
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

.Examples-Container {
  display: flex;
}
